video {
  width: 100vw;
}

div {
  position: relative;
  width: 100%;
  height: 100%;
  video {
    width: 100vw;
  }
  div.snapshot-btn {
    border: solid 4px white;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 40px);
    opacity: 0.8;
    cursor: pointer;
  }
  button.back-btn {
    position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 34px;
    font-weight: bold;
    opacity: 0.9;
    cursor: pointer;
    z-index: 1000;
  }
}

.filter {
  margin-left: 20px;
}
