<div class="event-item">

  <div class="contnet">
    <div  *ngIf="data.type">Type:{{data.Type}}</div>
    <div *ngIf="data.body">
      Body:{{data.Body}}
    </div>
    <div>From: {{data.From}}</div>
    <div>To: {{data.To}}</div>
  </div>
  <div class="image" *ngIf="data.Image">
    <img class="aaa" mat-card-image src="{{data.Image}}">
  </div>
<!--    <mat-card class="example-card">-->
<!--      -->

<!--        <mat-card-title  *ngIf="data.type">{{data.type}}</mat-card-title>-->

<!--        <div class="contnet">-->
<!--          <mat-card-content *ngIf="data.body">-->
<!--            {{data.body}}-->
<!--          </mat-card-content>-->
<!--          <div>From: {{data.from}}</div>-->
<!--          <div>To: {{data.to}}</div>-->
<!--        </div>-->

<!--      <div class="image" *ngIf="data.image">-->
<!--        <img class="aaa" mat-card-image src="{{data.image}}">-->
<!--      </div>-->

<!--    </mat-card>-->
</div>
